@font-face {
  font-family: "YekanBakh";
  src: url("../../public/Fonts/YekanBakh-VF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "YekanBakh", sans-serif;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 550px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.main-button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 0px;
  cursor: pointer;
}

.main-button:disabled {
  background-color: #522da885;
  cursor: not-allowed;
}

.main-button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.loader-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.forget-serial-text {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 8px 0 8px 0 !important;
  font-size: 12px !important;
  .link {
    margin: 0;
    font-size: 12px !important;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
}

.sign-in {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  overflow-x: hidden;
}

.sign-in {
  label {
    width: 100%;
    text-align: right;
    font-size: 13px;
  }
}

.forget-serial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 100%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.additional-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px 0px;
}

.result-text {
  margin: 0 0 8px 0 !important;
  font-size: 12px !important;
  font-weight: 600;
  text-align: center;
}

.error-message {
  font-size: 12px !important;
  font-weight: 600;
  margin: 0px 0 8px 0 !important;
  color: red;
  text-align: center;
}
.success-message {
  font-size: 12px !important;
  font-weight: 600;
  margin: 0px 0 8px 0 !important;
  color: green;
}

.details-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.current-km {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  padding-bottom: 10px;
}

.details-form .form-grid {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.form-grid div {
  display: flex;
  flex-direction: column;
}

.logo1 {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 90px;
}

.logo2 {
  width: 200px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 16px;
  img {
    width: 130px;
  }
}

.toast-with-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  gap: 8px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.modal-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.invalid-input {
  border: 1px solid red !important;
}

@media screen and (max-width: 790px) {
  .container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: scroll;
  }

  .sign-in {
    margin-bottom: 10px;
  }

  .forget-serial {
    padding-top: 105px !important;
  }

  .form-container {
    width: 100%;
  }

  .toggle-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: white;
    border-radius: 20px 20px 50px 50px;
    width: 100%;
    height: 170px;
    text-align: center;
  }

  .details-form {
    margin-top: 560px;
  }

  .details-container {
    margin-bottom: 25px;
  }

  .details-form .form-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .logo1 {
    margin-top: 180px;
    margin-bottom: 0;
  }
}

.submit-message {
  margin: 8px 0 0 0 !important;
  font-size: 12px !important;
  font-weight: 600;
  color: green;
}

.qr-code-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-header {
  color: red;
  font-size: 20px !important;
  font-weight: 600;
  margin-top: 40px;
}

.qr-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 0 40px 40px 40px;
  gap: 20px;
}

.qr-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  p {
    margin: 0 !important;
  }
}

@media screen and (max-width: 455px) {
  .qr-grid {
    grid-template-columns: repeat(1, auto);
  }
}
